* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

#motto span,
em {
    color: gold;
}

em {
    font-style: normal;
}