* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

/* !!!landing page!!! */

.container {
    display: flex;
    margin: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

/* !!!for you page!!! */

.fy_header {
    background-color: #b4a6ed;
    margin-bottom: 2rem;
}
.text_center {
    text-align: center;
}
/* reccomended posts */
#rounded {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 15%;
}
.fy_row {
    display: flex;
    justify-content: center;
}
.fy_post_img {
    width: 150px;
    height: 150px;
    flex: 0 1 auto;
    opacity: 1;
    transition: opacity 0.5s;
    position: relative;
    padding: 2rem;
}
@media (min-width: 768px) {
    .fy_post_img {
        width: 374px;
        height: 374px;
    }
}

/* Resize images */
.fy_profile_img {
    padding-top: 5px;
}
.fy_profile_img img{
    width: 100%;
    height: auto;
}

/* Reccomended Singers */
.prof_img2 {
    width: 150px;
    height: 150px;
    flex: 0 1 auto;
    opacity: 1;
    transition: opacity 0.5s;
    position: relative;
    margin: 1rem 1rem 0;
}
#crcl {
    object-fit: cover;
    height: 150px;
    border-radius: 50%;
}
.fy_h2 {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

/* end of for you page */