:root {
  --bs-dark-rgb: 0, 0, 0;
  --bs-primary-rgb: 93, 62, 211;
}

body {
  background-size: 100% 100%;
  background-attachment: fixed;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
}

h1, h2 {
  font-family: 'Exo 2', sans-serif;
}

aside {
  width: 25%;
  max-width: 300px;
  height: 100vh;
}

aside .navbar-nav {
  height: 100%;
}

aside .search {
  margin-top: auto;
}

.highlight {
  border: none !important;
  box-shadow: 0 0 7px 3px #0004;
}

.bg-ss {
  background-image: linear-gradient(0deg, rgba(0,50,126,1) 0%, rgba(0,209,255,1) 100%);
}

.bg-pi {
  background-image: linear-gradient(0deg, rgba(217,118,0,1) 0%, rgba(255,216,0,1) 100%);;
}

.tags {
  list-style-type: none;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  font-size: 1rem;
}

.tags li {
  display: inline-block;
  border-radius: 25px;
  padding: 0 5px;
  margin: 5px;
  border: 1px solid;
}

.tags li a {
  text-decoration: none;
}

main, .tags li:not(.highlight) a {
  color: #e2e2e2 !important;
}

.tags li,
.album,
.links li {
  transition: transform 0.5s;
}

.tags li:hover,
.album:hover,
.links li:hover {
  transform: scale(1.1);
}

.desc {
  transition: opacity 0.5s;
}

.nav-link,
.btn-outline-primary {
  color: #e2e2e2;
}

.btn-outline-primary {
  border-color: #e2e2e2;
}

.btn:hover {
  background-color: #ffd100;
}

#navbar-top form {
  min-width: 300px;
}

#navbar-top .navbar-nav {
  flex-direction: row;
}

#navbar-top .navbar-nav a {
  padding: 0 5px;
}

#full-width {
  position: absolute;
  width: 100%;
  left: 0;
}

main {
  max-height: 100vh;
  overflow: scroll;
}

main > * {
  width: 100%;
}

main > header {
  background-image: linear-gradient(transparent, black 75%), url('../img/header.jpeg');
  background-size: 100% auto;
  background-position: top;
}

.mw-200 {
  max-width: 200px;
}

#main > * {
  padding: 0;
}

#profile-img {
  width: 15%;
  padding-bottom: 15%;
}

.album {
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
}

#profile-img, .album {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

#profile-img img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 5px 10px 17px #0000004d, -3px -3px 9px #0000006b;
}

.album {
  background-image: url("../img/album.jpg");
}

.desc svg {
  margin-right: 5px;
}

.desc {
  opacity: 0;
}

.desc p {
  margin: 0;
}

.album:hover + .desc {
  opacity: 1;
}

.post,
.about,
.desc {
  font-size: .9rem;
}

.links a {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  main > header {
    background-image: linear-gradient(transparent, black 75%), url('../img/header.jpeg');
  }
}